.main-header {
  @include transition("all 400ms ease-in-out 0s");
}
.sticky-nav {
  &.main-header {
    background-color: $header_bg;
    @include box-shadow("0 2px 5px 0 rgba(0, 0, 0, 0.1)");
    left: 0;
    @include opacity(0.97);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    &:hover,
    &:active,
    &:focus {
      @include opacity(1);
    }
    .header-container & {
      .logo {
        max-height: 60px;
      }
      .logo a {
        padding: 0 10px;
      }
      .main-navigation {
        font-size: 1em;
        .menu-main {
          > li {
            &:before {
              bottom: -4px;
              content: "";
              display: block;
              height: 4px;
              left: 0;
              position: absolute;
              @include transition("all 400ms ease-in-out 0s");
              width: 100%;
            }
            &:hover,
            &:active,
            &:focus,
            &.active {
              &:before {
                background-color: $main_nav_link_active_color;
              }
            }
            > a {
              padding: 0.5em 10px;
            }
          }
        }
        .toggle-main-navigation {
          height: 34px;
          line-height: 34px;
          margin-top: 13px;
          width: 34px;
        }
      }
    }
  }
}